<p>This is a demo app that demonstrates how to use <code>
      <a href="http://github.com/jim/carmen-rails">carmen-rails</a>
    </code> to
    build a form with country and subregion selects in Rails.
    <a rel="more-info" href="http://github.com/jim/carmen-demo-app">More Info...</a>
</p>


<h1>New order</h1>

<%= render 'form' %>